body {
  font-family: Arial, sans-serif;
  background-color: var(
    --background-color
  ); /* Используем переменные для фона */
  color: var(--text-color); /* Используем переменные для текста */
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
